/*
-------------------
Default Style
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

body{
    font-family: 'Fredoka One', cursive;;
}

/*
-------------------
*/

.container{
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
}
#title{
    color: #e53170;
    padding: 30px;
}
