/*
-------------------
Default Style
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
body{
    font-family: 'Fredoka One', cursive;;
}
/*
-------------------
*/

/* inizio style header  */
.container{
    max-width: 70%;
    margin: 0 auto;
}
#title{
    color: #e53170;
    padding: 30px;
}
header.container {
    text-align: center;
}
/* fine style header */


/* inzio style main */
main{
    margin-top: 50px;
}
.box{
    width: calc(100%/3 - 30px);
    float: left;
    margin: 0 30px 50px 0;
    background-color: #0f0e17;
    box-shadow: 5px 5px 5px #cececd;
}
.box-img{
    width: 40%;
    float: left;
    padding-right: 20px;
}
.img{
    width: 100%;
    display: block;
}
.box-text{
    color: white;
    margin: 15px 0 0;
}
.box .box-text div{
    margin-bottom: 10px;
}
.name{
    font-weight: bolder;
}
.job{
    font-size: smaller;
}
.contact{
    color: #75bcb6;
    text-decoration: none;
    font-size: smaller;
}
/* Fine style main */